<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>客户管理</string>
		<key>icon</key>
		<string>gift</string>
		<key>models</key>
		<array>
			<dict>
				<key>label</key>
				<string>客户查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>CRM</string>
				<key>controller</key>
				<string>CustomerRegisterViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>客户查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>CRM</string>
				<key>controller</key>
				<string>CustomerRegisterViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>跟进日志</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>CRM</string>
				<key>controller</key>
				<string>CustomerRegisterViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>保护期查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>CRM</string>
				<key>controller</key>
				<string>CustomerRegisterViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>报价管理</string>
		<key>icon</key>
		<string>gift</string>
		<key>models</key>
		<array>
			<dict>
				<key>label</key>
				<string>刊例价查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>Quote</string>
				<key>controller</key>
				<string>QuotePriceViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>报价单填写</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>Quote</string>
				<key>controller</key>
				<string>QuotePriceViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>报价单审核</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>Quote</string>
				<key>controller</key>
				<string>QuotePriceViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>历史查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>Quote</string>
				<key>controller</key>
				<string>QuotePriceViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>历史查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>Quote</string>
				<key>controller</key>
				<string>QuotePriceViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>公交管理</string>
		<key>icon</key>
		<string>gift</string>
		<key>models</key>
		<array>
			<dict>
				<key>label</key>
				<string>媒体查位</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>吉位查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>单据管理</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>登挂查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>合同管理</string>
		<key>icon</key>
		<string>gift</string>
		<key>models</key>
		<array>
			<dict>
				<key>label</key>
				<string>媒体查位</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>吉位查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>单据管理</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>登挂查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
			<dict>
				<key>label</key>
				<string>登挂查询</string>
				<key>icon</key>
				<string>gift</string>
				<key>board</key>
				<string>BMMS</string>
				<key>controller</key>
				<string>BMMSMediaForSaleViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
